/* Full-Width Image Section */
.contact-page .image-container {
    position: relative;
    width: 100%; /* Full width of the container */
    height: 50vh; /* Set height to match the placeholder */
    overflow: hidden; /* Hide overflow to maintain aspect ratio */
}

.contact-page .contact-image {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

/* Overlay content positioning */
.contact-page .overlay-content {
    position: absolute; /* Position it absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center the content */
    color: #ffffff; /* Set text color */
    text-align: center; /* Center align text horizontally */
    padding: 0 20px; /* Optional padding for spacing */
}

.main-heading, .sub-heading {
    font-size: 36px;
    margin: 10px 0;
    font-weight: 100; /* Thin weight for headings */
    background: none; /* Ensure no background color */
    padding: 0; /* Remove padding if any */
}

.sub-heading {
    font-size: 24px;
    margin-top: 25px; /* Add margin on top to separate from main heading */
    margin-bottom: 35px; /* Add margin on top to separate from main heading */
}

/* Button Group */
.button-group {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 20px; /* Space between buttons */
    margin-top: 25px; /* Space between text and buttons */
    margin-bottom: 25px; /* Add margin on top to separate from main heading */
}

.button-link {
    text-decoration: none; /* Remove underline */
    background: none; /* Remove background */
    padding: 10px;
    display: block; /* Make each button occupy the full width of its container */
    width: 200px; /* Set a fixed width for buttons */
    text-align: center; /* Center text within button */
    border-radius: 1px;
    color: #ffffff; /* Set text color if needed */
    border: 2px solid #ffffff; /* Border color */
    font-size: 16px; /* Adjust font size if needed */
    font-weight: 200; /* Adjust font weight if needed */
}

.button-link:hover {
    text-decoration: none; /* Remove underline on hover */
    background-color: none; /* Change background on hover */
    color: #cccccc; /* Change text color on hover */
}
