/* Import Montserrat font with thin weights */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');

body {
  color: #ffffff; /* Set global text color to white */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

/* HEADER */
h1, h2, p {
  margin: 10px auto;
  padding: 0;
  text-align: center; /* Center align heading text */
  overflow-wrap: break-word;
  font-weight: 300; /* Consistent font-weight */
}

.site-header {
  position: relative;
  width: 100%;
  z-index: 15;
  overflow: hidden;
}

.nav-item .nav-item-text,
.contact-title {
  text-decoration: none; /* Removes underline from links */
  background: transparent;
  font-size: 12px;
  text-align: left;
  padding: 0; /* Use '0' instead of 'none' */
  font-weight: 500;
}

/* General link styles for consistency */
a,
a:active,
a:focus {
  color: inherit; /* Inherit color from parent */
  text-transform: uppercase;
  text-decoration: none; /* Ensure no underline or decoration */
}

/* HEADINGS */
.main-heading, .sub-heading {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 500; /* Thicker weight for headings */
  background: none; /* Ensure no background color */
  padding: 0; /* Remove padding if any */
}

.sub-heading {
  font-size: 24px;
  margin-top: 25px; /* Add margin on top to separate from main heading */
  margin-bottom: 35px; /* Add margin on bottom to separate from main heading */
}

/* Menu Links */
.menu-link a {
  display: block; /* Ensures the anchor tag fills the menu item container */
  text-align: left; /* Aligns text inside the anchor tag to the left */
  
}

.menu-link {
  margin: 15px;
  font-weight: 1000px;
  color: #ffffff; /* White text color */
}

.menu-bar {
  margin: 20px;
}

/* Menu Item Styling */
.menu-item {
  display: block;
  padding: 10px 20px; /* Increase left padding for indentation */
  color: #ffffff; /* White text color */
  text-transform: uppercase; /* Uppercase text */
  text-align: left;
  background: transparent; /* Transparent background */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.button-link:hover,
.button-text:active,
.menu-link:hover,
.menu-link:active,
.menu-item:hover,
.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1); /* Fade effect on hover and active */
  font-weight: 1000px;

}

/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Hide by default, show on mobile */
  cursor: pointer;
  text-align: left;
  padding: 15px;
  position: fixed;
  top: 0; /* Position at the top */
  left: 0;
  width: 100%;
  z-index: 1000; /* High z-index to ensure it floats above other content */
}

.hamburger-menu .bar {
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white bars */
  height: 3px; /* Bar height */
  width: 25px; /* Bar width */
  margin: 5px 0; /* Space between bars */
  border-radius: 2px; /* Rounded corners */
}

.hamburger-menu.active .bar {
  background-color: #ffffff9c; /* White or desired color when active */
}

/* Mobile Menu */
.mobile-menu {
  padding: 20px;
  display: none; /* Hide by default */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; /* High z-index to ensure it floats above other content */
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.mobile-menu.active {
  display: block; /* Show when active */
  transform: translateY(0);
}

/* Menu Bar */
.menu-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
  white-space: nowrap;
  background: transparent; /* Transparent background */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it floats above other content */
}

/* Hide scrollbars in menu bar */
.menu-bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.menu-bar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}


.construction-text {
  color: red;
}

/* Button Group */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
}

.button-link {
  text-decoration: none;
  background: none;
  width: 250px; /* Fixed width for all buttons */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow if text exceeds button width */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}


.custom-button-link:active a {
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
}


.button-text:active a {
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
}

/* Language Icon */
.language-icon img {
  width: 24px;
}

/* Video Background Section */
.video-background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Overlay Content */
.overlay-content {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 100%; /* Ensure full width for centering */
  height: 100%; /* Ensure full height for vertical centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center both horizontally and vertically */
  box-sizing: border-box;
}

/* Image/Video Background Container */
.image-header-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Center horizontally */
}

/* Placeholder style */
.placeholder {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Take up the full viewport height */
  width: 100vw; /* Take up the full viewport width */
  text-align: center; /* Center text horizontally */
  z-index: 1000;
}

/* Custom Section with Background Image */
.custom-section {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
  padding: 25px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Position relative for absolute positioning of text */
  overflow: hidden; /* Hide overflow */
}

/* Container for content in a row */
.custom-container {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  align-items: flex-start; /* Align items at the top */
  width: 100%; /* Full width of the viewport */
  max-width: 1440px; /* Limit maximum width */
  background: none;
  overflow: hidden; /* Hide overflow */
  box-sizing: border-box; /* Ensure padding/margins are included */
}

/* Row to handle horizontal scrolling */
.custom-row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 20px;
  margin: 0; /* Remove margins for alignment */
  width: 100%; /* Full width of the container */
  overflow-x: auto; /* Add horizontal scrollbar if content overflows */
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.custom-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

/* Column styling */
.custom-column {
  flex: 0 0 375px; /* Fixed width for columns */
  height: 200px;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  margin: 0 auto; /* Center column horizontally */
  position: relative; /* Allows absolute positioning of child elements */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content vertically */
  padding: 0 20px; /* Add padding for alignment */
}

/* Icon Wrapper */
.custom-icon-widget {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center icon vertically within the space */
  height: calc(100% - 40px); /* Adjust based on the height of the button and desired spacing */
}

/* Icon Styling */
.custom-icon-homepage,
.custom-icon-home,
.custom-icon-rentals,
.custom-icon-head,
.custom-icon-contact {
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center icon horizontally */
}

.custom-icon-homepage {
  background-image: url('/static/icons/home.png');
  width: 65px;
  height: 65px;
}

.custom-icon-home {
  background-image: url('/static/icons/search.png');
  width: 95px;
  height: 95px;
}

.custom-icon-head {
  background-image: url('/static/icons/head.png');
  width: 100px;
  height: 100px;
}

.custom-icon-contact {
  background-image: url('/static/icons/contact.png');
  width: 105px;
  height: 105px;
}

.custom-icon-rentals {
  background-image: url('/static/icons/hand.png');
  width: 85px;
  height: 85px;
}

/* Button Link Styling */
.custom-button-link {
  font-size: 14px;
  line-height: 40px;
  width: 200px;
  box-sizing: border-box;
  text-decoration: none;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1px;
  display: block; /* Ensure it takes up space as a block element */
  text-align: center; /* Center text inside the button */
  margin: 0 auto; /* Center button horizontally */
  margin-bottom: 25px; /* Fixed margin from the bottom */
}

/* Footer Styling */
.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
  text-align: left; /* Align footer text to the left */
}

.footer-content {
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap */
  justify-content: space-between; /* Space out columns evenly */
  padding: 0 20px; /* Add padding for spacing */
  gap: 20px; /* Add gap between columns */
}

.footer-column {
  flex: 1 1 200px; /* Allow columns to grow and shrink, with a base width of 200px */
  padding: 0 10px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.footer-text, .footer-nav, .footer-logo, .footer-image {
  text-align: left;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #ffffff;
}

.footer-info {
  font-size: 14px; /* Ensure this matches the text size below "BROWSE" */
}

.footer-info p {
  margin: 5px 0;
}

.footer-column img.realtor,
.footer-logo {
  height: 80px; /* Fixed height for realtor image */
  width: auto; /* Maintain aspect ratio */
  display: block; /* Ensure block display */
  margin: 0; /* Remove margin to align left */
}

.footer-image {
  max-width: 100px; /* Limit image width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure block display */
  margin: 0 auto; /* Center images horizontally if needed */
}

/* Responsive Styling fOR Footer*/
@media screen and (max-width: 908px) {
  .custom-column {
    flex: 1 1 100%; /* Each column takes up 100% of the width */
    max-width: 100%; /* Ensure each column does not exceed 100% width */
  }
  
  /* Adjust footer styling for small screens */
  .footer {
    text-align: center; /* Center align footer content */
    padding: 50px;
  }

  .footer-content {
    flex-direction: column; /* Stack footer columns vertically */
    align-items: center; /* Center align columns */
    padding: 0; /* Remove padding for better appearance */
  }

  .footer-column, .footer-text, .footer-nav {
    width: 100%; /* Full width for each column */
    max-width: 400px; /* Optional: Limit maximum width for better appearance */
    text-align: center; /* Center text inside each column */
  }


  @media screen and (max-width: 768px) {
    .image-header-container {
    height: 100vw; /* Use viewport width for height in landscape mode */
  }

  .menu-bar {
    display: none; /* Hide the menu bar */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu on mobile view */
    z-index: 1500;
  }
}


@media screen and (max-width: 500px) and (orientation: portrait){ /* Cover Screen - Portrait */
  /* Image/Video Background Container Adjustments */
  .image-header-container {
    height: 100vw; /* Use viewport width for height in landscape mode */
  }

  .menu-bar {
    display: none; /* Hide the menu bar */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu */
    z-index: 1501;
  }
}

