.light-green-text {
    text-align: center; /* Optional: align text as needed */
    color: green;
    padding-top: 20px; /* Optional: add some padding if needed */
}

.navy-blue-text{
    text-align: center; /* Optional: align text as needed */
    color: rgb(37, 71, 221);
    padding-top: 20px; /* Optional: add some padding if needed */
}

.rental-services {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background-color: none;
    box-sizing: border-box;
    align-items: center; /* Center items horizontally */
    z-index: 1; /* Ensure it's below the video overlay */
    width: 100%;
}

.rental-services-wrapper {
    width: 75%;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.rental-services p {
    margin: 0 auto;
}

.light-red-text h2 {
    margin: 0 auto;
}

.rental-services h2 {
    padding-bottom: 10px;
    font-size: 1.5rem; /* Adjust font size as needed */
}

.light-red-text{
    color: #c0392b; /* Dark red */
    font-weight: 300; /* Make text bold */
    margin: 0 auto;
    padding-top: 20px; /* Optional: add some padding if needed */
}

.dark-red-text {
    color: #a91909; /* Light red */
    font-weight: bold; /* Make text bold */
    margin: 0 auto;
    padding-top: 20px; /* Optional: add some padding if needed */
}


/* Styling for the heading inside the overlay */
.rentals-page .custom-heading {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    font-weight: 100; /* Thin weight for headings */
    color: #ffffff; /* Ensure text color is white */
    background: none; /* Ensure no background color */
}


/* Text content styling */
.rentals-page .text-content {
    display: flex; /* Use flexbox for centering content */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%; /* Full height of the container */
}


/* Style for additional-info with black text */
.additional-info.black-text {
    color: #000000; /* Set text color to black */
    font-weight: normal; /* Reset font weight if needed */
    background: none; /* Ensure no background color */
    text-align: center; /* Optional: align text as needed */
    font-size: 14px;
    padding-top: 20px; /* Optional: add some padding if needed */
}