/* Leasing Qualifications Section */
.leasing-qualifications {
    padding: 20px;
    border-radius: 1px;
    margin: 20px auto;
    max-width: 800px; /* Center the section */
    text-align: center; /* Center text */
    background: none; /* Remove background */
}

.leasing-qualifications .section-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #c0392b; /* Dark red */
    font-weight: 50px; /* Thin weight for headings */
}

.leasing-qualifications .qualifications-text,
.leasing-qualifications .light-red-text,
.leasing-qualifications .dark-red-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #c0392b; /* Dark red */
    background: none; /* Remove background */
    font-weight: 100; /* Thin weight for text */
}

.leasing-qualifications .dark-red-text {
    color: #a91909; /* Light red */
    font-weight: bold; /* Make text bold */
}


.leasing-qualifications .light-red-text {
    font-weight: 300; /* Make text bold */
}



/* Styling for the heading inside the overlay */
.rentals-page .custom-heading {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    font-weight: 100; /* Thin weight for headings */
    color: #ffffff; /* Ensure text color is white */
    background: none; /* Ensure no background color */
}


/* Text content styling */
.rentals-page .text-content {
    display: flex; /* Use flexbox for centering content */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%; /* Full height of the container */
}


/* Style for additional-info with black text */
.additional-info.black-text {
    color: #000000; /* Set text color to black */
    font-weight: normal; /* Reset font weight if needed */
    background: none; /* Ensure no background color */
    padding: 10px; /* Optional: add some padding if needed */
    text-align: center; /* Optional: align text as needed */
}
