
.resources-page .custom-heading {
  font-size: 1.5rem; /* Adjust font size as needed */
  margin: 0; /* Remove default margin */
  font-weight: 100; /* Thin weight for headings */
  color: #ffffff; /* Ensure text color is white */
  background: none; /* Ensure no background color */
}


/* Custom button link styles */
.custom-button-link {
  font-size: 14px;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Space between button and bottom of column */
  text-decoration: none; /* Ensure no underline */
  background: none; /* Ensure background is transparent */
  color: #ffffff; /* Set default text color */
  border: 2px solid #ffffff; /* Set border color */
  border-radius: 1px; /* Optional: adjust border-radius */
}

.custom-button-link:hover {
  background-color: none; /* Keep background transparent */
  text-decoration: none; /* Ensure no underline on hover */
  color: #cccccc; /* Change text color on hover if needed */
}

/* Header in the custom section */
.custom-header {
  margin-bottom: 20px;
}

.custom-heading {
  font-size: 2rem;
  color: #ffffff; /* White text color */
  text-align: center; /* Center align text */
  font-weight: 100; /* Thin weight for headings */
  background: none; /* Ensure no background */
}

/* Center Content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Resource Information Section */
.resource-information {
  padding: 20px;
  border-radius: 1px;
  margin: 20px auto;
  max-width: 800px; /* Center the section */
  text-align: center; /* Center text */
}

.resource-information .section-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #c0392b; /* Dark red */
  font-weight: 100; /* Thin weight for headings */
}

.resource-information .resource-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #c0392b; /* Dark red */
  font-weight: 100; /* Thin weight for text */
}

.resource-information .dark-red-text {
  color: #a91909; /* Light red */
  font-weight: bold; /* Make text bold */
}

/* Additional Information */
.additional-info {
  background-color: transparent; /* Ensure no background color */
  padding: 0; /* Removes padding to avoid any space that might appear as background */
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center; /* Center the text horizontally */
  border: none; /* Remove any border that might cause a background appearance */
}

.additional-info p {
  margin: 10px 0; /* Adjust margin as needed */
  color: #000; /* Black text color */
  background: none; /* Ensure no background color for the text */
}
