

/* General Styles for Rental Services Text */
.rental-services h1, h2, p {
    padding: 10px;
    text-align: center; /* Center align heading text */
}

/* For Dynamic Button Grid Section */
.button-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Button Grid Styles */
.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}


.button-text {
    margin-top: 0;
    padding: 20px;
    font-size: 12px;

}

/* Button Item Styles */
.button-item {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
    max-width: calc(25% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Ensure Button Elements Have No Borders */
.button-item button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none; /* Removes default focus outline */
}

/* Ensure Image Within Button Has No Border */
.button-item img {
    width: 100px;
    height: auto;
    border: none;
}

/* Remove Focus and Active Styles for Button */
.button-item button:focus,
.button-item button:active {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Remove Border When Button Is Clicked or Focused */
.button-item button:focus img,
.button-item button:active img {
    border: none;
}

/* Media Queries for Responsive Layout */
@media (max-width: 1200px) {
    .button-item {
        flex: 1 1 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px);
    }
}

@media (max-width: 800px) {
    .button-item {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 500px) {
    .button-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Ensure Text Is Properly Visible in the Overlay */
.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
    text-align: center;
}

/* Specific Styles for Rental Services Section */
.rental-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.rental-services-wrapper {
    width: 75%;
    max-width: 1200px; /* Adjust based on your design */
    padding: 20px;
    box-sizing: border-box;
}

.rental-services p,
.rental-services h2 {
    margin: 0;
    text-align: center;
}

/* Text Color Classes */
.black-text {
    color: #000000; /* Set text color to black */
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}

.black-text p {
    color: rgb(0, 0, 0);
}

.light-green-text {
    color: green;
    padding-top: 20px;
    text-align: center;
}

.navy-blue-text {
    color: rgb(37, 71, 221);
    padding-top: 20px;
    text-align: center;
}

.light-red-text {
    color: #c0392b;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}

.dark-red-text {
    color: #a91909;
    font-weight: bold;
    padding-top: 20px;
}


/* Custom Section Background */
.custom-section {
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding: 20px;
}
/* Desktop layout: 3 rows with 4 columns */
.popup-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 10px; /* Space between items */
}

.styled-line { 
margin-top: 15px;
margin-bottom: 15px;
}

.popup-text p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.popup-text {
    align-items: center;
    justify-content: center;
    align-content: center;
}


.popup-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px; /* Increased for better separation */
}

.popup-gallery img {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s;
}

.popup-gallery img:hover {
    opacity: 0.8;
}

.contact-button {
    display: block; /* Ensures it takes up the full width of its container */
    margin: 20px auto; /* Centers the button horizontally with auto margins */
    padding: 10px 20px; /* Adjust padding for the button size */
    background-color: #007BFF; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: round the edges */
    text-align: center; /* Centers the button text */
    cursor: pointer; /* Change cursor on hover */
}

.contact-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.small-input {
    width: 50px; /* Adjust the width to fit approximately 10 characters */
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: #f9f9f9b8; /* Light background for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    max-width: 50vw; /* Limit width */
    margin: 20px auto; /* Center the container */
}

.search-container input {
    padding: 10px;
    border: 2px solid white; /* Blue border */
    border-radius: 5px; /* Rounded input corners */
    font-size: 16px; /* Increase font size */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.search-container input:focus {
    border-color: white; /* Darker blue on focus */
    outline: none; /* Remove default outline */
}


@media (max-width: 978px) {
    .search-container {
        flex-direction: column; /* Stack elements vertically */
        text-align: left;
    }

    input[type="number"] {
        width: 150px; /* Full width on small screens */
        text-align: left;
    }

    input[type="text"] {
        width: 150px; /* Full width on small screens */
        text-align: left;
    }
}

/* Responsive Adjustments */
@media screen and (max-width: 500px) and (orientation: portrait) {s
   
    
    .main-heading {
        z-index: 1000; /* Ensure heading is below popup */
    }
        
    .popup-text {
        font-size: 10px; /* General text, smaller for mobile */
        white-space: normal; /* Allow paragraphs to wrap properly */
        overflow-x: hidden; /* Hide horizontal overflow */
        font-weight: normal; /* Set the same weight as the text inside the button */
    }

    /* Ensure gallery is centered and items are 3 per row */
    .popup-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
        grid-gap: 10px; /* Add space between items */
        justify-content: center; /* Center the grid items */
    }

    /* Ensure titles are visible */
    .popup-title {
        font-size: 12px; /* Ensure title font size is slightly larger */
        font-weight: bold; /* Make sure titles are bold */
        color: #000; /* Set title color to black for visibility */
        display: block; /* Ensure titles are displayed as block */
        text-align: center; /* Center the title text */
    }

    /* Ensure full values for variables, no truncation */
    .popup-value {
        font-size: 10px; /* Keep variable values at 10px */
        white-space: normal; /* Ensure values are not cut off */
        overflow-wrap: break-word; /* Allow text to wrap */
        text-align: center; /* Center the values */
    }

    /* Ensure description displays fully as a paragraph */
    .popup-text p {
        white-space: normal; /* Allow paragraph wrapping */
        word-wrap: break-word; /* Wrap long words to avoid overflow */
    }
    
    .light-red-text h2{
        font-size: 20px;
    }
}
